<br>

<div class="container"id="shiner">

    <div class="mb-4">

    <button type="button" class="btn btn-info" id="createTrip">Create New Trip</button>

    <button type="button" class="btn btn-info" id="viewTrip">View Your Trips</button>

</div>
