<body>

    <div class="container">
        <div class="row" id="mission">
            <div class="col-md-12">
                <div class="about-header">
                    <h1>- Our Mission -</h1>

                    <p>Helping you plan your adventures one circle at a time.</p>

                    <br>

                    <h1>About Us</h1>

                    <p>Established in 2020, Passport was created with planning and travel in mind.
                        Social media platforms have made it easier than ever to see photos from
                        different parts of the world, their cultures, and overall human experiences that
                        are available to anyone.</p>

                    <p>However, trying to financially plan and coordinate your travel goals is easier
                        said than done. That’s why Passport was created so you can set your budgets,
                        track your savings, and plan your future adventures with your friends without
                        having to scroll endlessly through group chat messages or bounce between
                        financial applications.</p>

                    <p>Passport is an all inclusive application that allows you to set your personal
                        budget, your groups budget and share trip logistics together all in one place.</p>

                    <p>Saving for your next big vacation can be stressful, but Passport is here to keep
                        you and your group organized and on track so you don’t miss a thing.</p>
                </div>
            </div>
        </div>
    </div>

</body>