<body>

    <br>
    <br>

    <div class="container">
        <div class="row" id="contact">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>We'd love to hear from you</h1>
                    <p>Whether you have questions about our services, getting started or anything else, our team is
                        here to help.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <form>
            <div class="row" id="contact-form"> 
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Input1">Name</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row" id="contact-form">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Input2">Email</label>
                        <input name="email" type="email" class="form-control" required>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row" id="contact-form">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Input3">Subject</label>
                        <input name="subject" type="text" class="form-control" required>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row" id="contact-form">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="textarea1">Message</label>
                        <textarea name="message" type="text" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row" id="contact-form">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="submit" class="form-control submit" value="Submit">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </form>
    </div>
    
</body>