<body id="welcome-page">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-header">
                    <h1>Welcome to Passport</h1>
                    <button type="button" class="btn btn-link" id="welcome-link">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    
</body>