<body>

    <br> 
    <br>

    <div class="container" id="my-trips">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>My Trips</h1>
                </div>
            </div>
        </div>
    </div>

        <!--DYNAMIC MY TRIPS CONTAINER -->

    <br>

    <div class="container" id="trips-table">
        <div class="row">
            <div class="col-md-12 notrips">
        
                <table class="table table-borderless mytrips-container">
                    <thead>
                        <tr>
                            <th scope="col">Trip Name</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Days Remaining</th>
                            

                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
                
                <br>
                <br>

                <div class="row m-auto">
                    <a href="/user">+ Add Another Trip</h4></a>
                </div>
            </div>
        </div>
    </div>

    {{!-- <button type="button" class="btn btn-link" id="welcome-link">Add Another Trip</button> --}}

</body>