<body>

    <br>
    <br>

    <div class="container">
        <div class="row" id="services">
            <div class="col-md-12">
                <div class="services-header">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row" id="services-cards">
            <div class="col">
                <div class="card-1" style="width: 18rem;">
                    <img src="../public/assets/images/coinjar.jpg" class="card-img-top" alt="Coin Jar">
                        <div class="card-body">
                            <h5 class="card-title">Budget</h5>
                            <p class="card-text">Track both your personal and shared budgets with your travel companions.</p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card-2" style="width: 18rem;">
                    <img src="../public/assets/images/planner.jpg" class="card-img-top" alt="Planner">
                        <div class="card-body">
                            <h5 class="card-title">Plan</h5>
                            <p class="card-text">Have all your travel plan conversations in one place using our message boards.</p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card-3" style="width: 18rem;">
                    <img src="../public/assets/images/ticket.jpg" class="card-img-top" alt="Ticket">
                        <div class="card-body">
                            <h5 class="card-title">Confirmations</h5>
                            <p class="card-text">Have all your travel confirmations in one place.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>    

</body>



